@import 'scss/colors.scss';

.ant-breadcrumb {
  .ant-breadcrumb-link {
    color: $ui-gray100;
    a {
      color: $primary-color !important;
      &:hover {
        color: $primary-color-focus !important;
        font-weight: 500;
      }
    }
  }
}
