@import 'scss/colors.scss';
@import 'scss/defaults.scss';

.ant-btn {
  border-radius: $border-radius-md;
  border: none !important;
  font-weight: 600;

  &-secondary {
    &.ant-btn-default {
      color: $primary-color;
      background: $primary-light !important;

      &:hover,
      &:focus-within,
      &:focus {
        background-color: $primary-color !important;
      }
    }
  }

  &-default {
    background: $primary-color !important;
    color: #fff;
    &:disabled {
      background: $btn-disabled-bg !important;
    }
    &:hover,
    &:focus-within,
    &:focus {
      color: $white !important;
      background: $primary-color-focus !important;
    }
  }

  &-primary {
    border-color: $primary-color !important;
    background: $primary-color !important;
    color: $white;
    &:disabled {
      background: $gray200 !important;
      color: $white300 !important;
    }
    &:hover,
    &:focus-within,
    &:focus {
      color: $white;
      background: $primary-color-focus !important;
    }
  }

  &-dangerous {
    &:not(:disabled) {
      color: $red !important;
      background: transparent !important;
    }
    &:hover,
    &:focus-within,
    &:focus {
      background: $red !important;
      color: #fff !important;
    }
  }

  &-link {
    color: $primary-color !important;
    transition: 0.2s !important;
    font-weight: 600 !important;
    border: none !important;
    &:disabled {
      color: $gray200 !important;
    }
    &:hover,
    &:focus-within,
    &:focus {
      color: $primary-color-focus;
      font-weight: 600 !important;
    }
  }

  &-cancel,
  &-approve {
    background: transparent !important;
    border: 1px solid $ui-gray100 !important;
    &:hover,
    &:focus-within,
    &:focus {
      border: none !important;
    }
  }

  &-approve {
    color: $green100;
    &:disabled {
      background: $btn-disabled-bg !important;
    }
    &:hover,
    &:focus-within,
    &:focus {
      color: $white !important;
      background: $green100 !important;
    }
  }

  &-cancel {
    color: $red;
    &:disabled {
      background: $btn-disabled-bg !important;
    }
    &:hover,
    &:focus-within,
    &:focus {
      color: $white !important;
      background: $red !important;
    }
  }
}

.ant-btn {
  &:focus,
  &:hover {
    color: $purple200;
    border-color: $purple200;
  }
  &-primary {
    border-color: $purple800;
    background: $purple800;
    color: $white;
    &:hover,
    &:focus-within,
    &:focus {
      color: $white;
      border-color: $purple200;
      background: $purple200;
    }
  }
}
