$ui-getir-yellow: #ffd300;

$ui-purple100: #594b85;
$ui-purple150: #f3f0fe;
$ui-purple200: #483d8f;
$ui-purple300: #5e3ebb;
$ui-purple400: #422c85;

$ui-gray100: #1c345442;
$ui-gray200: #1c324f61;
$ui-gray200: #dddedf;
$ui-gray250: #f7f7f6;
$ui-gray300: #f9fafb;
$ui-gray400: #edeff1;
$ui-gray500: #f6f6f6;

$ui-black100: #192434;
$ui-black200: #182739f0;

$ui-success: #01cc78;

$green100: #008c20;

$layout-bg: #193b670d;

$table-header-row-bg: #e5f1f3;

$btn-disabled-bg: #f5f5f5;
$btn-disabled-border: #d9d9d9;
$btn-default-bg: #193b670d;

$getir-yellow: #ffd300;
$green: #87d068;
$light-blue: #69c0ff;
$orange: #ffa500;
$black: #000000;

$red: #f05050;
$red100: #de5246;
$red200: #964141;
$red300: #eb6969;
$red400: #f7e7e3;

$white: white;
$white100: #fefdff;
$white200: #fbfaff;
$white300: #edecf0;
$white400: #ffffff80;

$purple800: #50479a;
$purple900: #312f6e;
$purple200: #8063c9;
$purple100: #d0c5e2;
$purple150: #b1a1da;
$purple700: #8479d3;
$purple600: #5d3ebc;
$purple300: #eeebfe;
$purple500: #f5f5f9;
$purple400: #5d3ebc23;

$submenu-active-bg: #5d3ebc1a;
$submenu-hover-bg: #ad99ec1a;
$submenu-active: #7849f7;

$gray900: #0b182e;
$gray800: #142a51;
$gray800: #3d4249;
$gray700: #676767;
$gray200: #878a8f;
$gray150: #e8ecf1;

$gray400: #1c304a80;
$gray300: #53565a;
$gray100: #fafafa;
$grayContrast: #f0f0f0; //used in table border

$blue900: #21252e;
$blue800: #3a4151;
$blue600: #3d4b56;
$blue500: #5d6c85;
$blue700: #4e9ef023;

$green400: #40ac5b;

$orange800: #683d0123;

$black700: #3b3f59;

// NEW COLORS

$primary-color: #007787;
$primary-color-focus: #00a2b8;
$primary-light: #e5f1f3;
$primary-light-bg: #f2f8f9;
